<div class="row">

    <div class="col-md-12">
        <section
            class="fw-title-bar fw-main-row-custom fw-main-row-top fw-content-vertical-align-middle fw-section-image fw-section-default-page product "
            style="background: no-repeat center center / cover, #1f1f1f ;">
            <div class="container" style="padding-top: 80px;padding-bottom: 60px;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="fw-heading fw-content-align-center">

                            <h2 class="fw-special-title">Tacos de Carnitas de Puerco con Mango, Tomatillo y Salsa de
                                Chipotle</h2>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div class="col-md-12">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/images/tacopastor.jpg" class="d-block w-100" alt="Tacos al pastor">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
               
                <div class="carousel-item">
                    <img src="../../../assets/images/tacocarnitas.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>