<div class="row">
    <div class="col-md-12">
        <form [formGroup]="productoForm" novalidate>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" formControlName="nombre" class="form-control"
                    placeholder="Ingrese el nombre del producto">
            </div>

            <button type="submit" class="btn btn-primary" (click)="save()">Enviar</button>
        </form>
    </div>
</div>